// @import "./custom-bootstrap.scss";

// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

/* tajawal-arabic-400-normal*/
@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('../../node_modules/@fontsource/tajawal/files/tajawal-arabic-400-normal.woff2') format('woff2'), url('../../node_modules/@fontsource/tajawal/files/tajawal-arabic-400-normal.woff') format('woff');
}

@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('../../node_modules/@fontsource/tajawal/files/tajawal-arabic-700-normal.woff2') format('woff2'), url('../../node_modules/@fontsource/tajawal/files/tajawal-arabic-700-normal.woff') format('woff');
}

@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-display: swap;
    font-weight: bold;
    src: url('../../node_modules/@fontsource/tajawal/files/tajawal-arabic-900-normal.woff') format('woff2'), url('../../node_modules/@fontsource/tajawal/files/tajawal-arabic-900-normal.woff') format('woff');
}

* {
    font-family: "Tajawal" !important;
    box-sizing: border-box;
    margin: 0;
}

body {
    height: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.text-height-2 {
    line-height: 2rem;
}

.text-wieght-600 {
    font-weight: 600;
}
.text-wieght-900 {
    font-weight: 900;
}
.text-size-1 {
    font-size: 1rem;
}
.text-size-2 {
    font-size: 2rem;
}
.text-size-3 {
    font-size: 3rem;
}
.text-size-4 {
    font-size: 4rem;
}
.text-size-5 {
    font-size: 5rem;
}
.text-size-6 {
    font-size: 6rem;
}
.gradient-text {
    --bg-size: 200%;
    --color-one: #001b36;
    --color-two: #00e3f6;
    font-family: sans-serif;
    /*font-size: clamp(3rem, 25vmin, 8rem);*/
    background: linear-gradient(90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
    .gradient-text {
      animation: move-bg 32s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }
  
  .banner {
    height: 240px;
    background-image: linear-gradient(rgba(74, 16, 120, 0.25), rgba(74, 16, 120, 0.25)),url("../images/new-products-idea.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner > .start {
    background-color: #00e3f6;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: relative;
    top: -80px;
    left: 40px;
    border: white 8px solid;
  }